<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Add Exercise</title>
</head>
<body>
    <ul class="navbar">
        <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
        <li><a th:href="@{/dashboard}" >Dashboard</a></li>
        <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
    </ul>

    <div class="bigContainer">
        <div class="leftContainer">
            <a th:href="@{/workouts/selectMuscleGroup}" class="addExercise">Go Back</a>
        </div>
    </div>
    <div class="center-container">
        <div class="selectMuscleGroupTable">
            <form th:action="@{/workouts/exerciseSet}" method="post">
                <table>
                    <tbody>
                        <tr th:each="exercise : ${exercises}" th:if="${exercise.bodyPart == bodyPart}">
                            <td>
                                <button type="submit" th:name="exerciseId" th:value="${exercise.exerciseId}">
                                    <span th:text="${exercise.name}"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
