<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Edit Exercise</title>
</head>
<body>
<ul class="navbar">
    <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
    <li><a th:href="@{/dashboard}" >Dashboard</a></li>
    <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
</ul>
<div class="center-container">
    <table class="workoutTable">
        <thead>
        <tr>
            <th th:text="${exercise.name}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form th:action="@{/workouts/editExercise}" method="post">
                    <p>Weight</p>
                    <label for="weight"></label>
                    <input type="number" id="weight" name="weight" th:value="${exerciseSet.weight}" required>

                    <br>
                    <p>Repetitions</p>
                    <label for="repetitions"></label>
                    <input type="number" id="repetitions" name="repetitions" th:value="${exerciseSet.repetitions}" required>

                    <br><br>

                    <button type="submit">Save Exercise</button>
                </form>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>
