<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Exercise Set</title>
</head>
<body>
<ul class="navbar">
    <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
    <li><a th:href="@{/dashboard}" >Dashboard</a></li>
    <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
</ul>
<div class="center-container">
<table class="workoutTable">
    <thead>
        <tr>
            <th th:text="${exercise.name}"></th>
        </tr>
    </thead>
<tbody>
<tr>
    <td>
        <form th:action="@{/workouts/existingWorkout}" method="post">
            <label for="weight"></label>
            <input type="number" id="weight" name="weight" th:placeholder="'Weight'" required>
            <br>
            <label for="repetitions"></label>
            <input type="number" id="repetitions" name="repetitions" th:placeholder="'Repetitions'" required>
            <br><br>
            <button type="submit">Save Exercise Set</button>
        </form><br>
        <a th:href="@{/workouts/selectMuscleGroup}" class="addExercise">Return to selection</a>
    </td>
</tbody>
</table>
</div>
</body>
</html>
