<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Exercise History</title>
</head>
<body>
<ul class="navbar">
    <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
    <li><a th:href="@{/dashboard}" >Dashboard</a></li>
    <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
</ul>

<div th:if="${#lists.isEmpty(exerciseSets)}" class="center-container">
    <p>No exercise history found.</p>
</div>
<div class="center-container">
<table th:if="${not #lists.isEmpty(exerciseSets)}" class="workoutTable">
    <thead>
    <tr> <th th:text="${exercise.name}" colspan="3"></th></tr>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Repetitions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exerciseSet : ${exerciseSets}">
        <td th:text="${#temporals.dayOfWeekName(exerciseSet.workoutDate) + ' ' + #temporals.monthName(exerciseSet.workoutDate) + ' ' + #temporals.day(exerciseSet.workoutDate)}"></td>
        <td th:text="${exerciseSet.weight}"></td>
        <td th:text="${exerciseSet.repetitions}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>