<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise Set</title>
</head>
<body>
<h2>Exercise Set</h2>

<p th:text="'Exercise: ' + ${exercise.name}"></p>

<form th:action="@{/workouts/existingWorkout}" method="post">
    <label for="repetitions">Repetitions:</label>
    <input type="number" id="repetitions" name="repetitions" required>

    <br>

    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" required>

    <br>
    <button type="submit">Save Exercise Set</button>
</form>
<a href="selectMuscleGroup">Return to selection</a>

</body>
</html>
