<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Existing Workout</title>
</head>
<body>

<p th:text="${#temporals.dayOfWeekName(existingWorkout.date) + ' ' + #temporals.monthName(existingWorkout.date) + ' ' + #temporals.day(existingWorkout.date)}"></p>

<p th:if="${existingWorkout.notes != null}" th:text="'Notes: ' + ${existingWorkout.notes}"></p>
<form th:if="${existingWorkout.notes != null}" th:action="@{/workouts/deleteNotes}" method="post">
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Clear notes</button>
</form>
<table>
    <thead>
    <tr>
        <th>Exercise Name</th>
        <th>Weight</th>
        <th>Repetitions</th>
        <th> </th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exercise, index : ${exercises}">
        <td th:text="${exercise.name}"></td>
        <td th:text="${exerciseSets[index.index].weight}"></td>
        <td th:text="${exerciseSets[index.index].repetitions}"></td>
        <td><form th:action="@{/workouts/editExercise}" method="get">
            <button type="submit" th:name="exerciseId" th:value="${exercise.getExerciseId()}">Edit</button>
        </form>
        </td>
        <td><form th:action="@{/workouts/removeExercise}" method="post">
            <button type="submit" th:name="exerciseId" th:value="${exercise.getExerciseId()}">Delete</button>
        </form>
        </td>

    </tr>
    </tbody>
</table>
<form th:action="@{/workouts/removeAllExercises}" method="post">
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Clear All</button>
</form><br><br>
<form th:action="@{/workouts/deleteWorkout}" method="post">
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Delete Workout</button>
</form>
<form th:action="@{/workouts/addNotes}" method="post">
    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Edit notes</button>
</form>
<a th:href="@{/workouts/selectMuscleGroup}">Add Exercise</a>

</body>
</html>
