<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Existing Workout</title>
</head>
<body>
<ul class="navbar">
    <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
    <li><a th:href="@{/dashboard}" >Dashboard</a></li>
    <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
</ul>


<div class="bigContainer">
<div class="leftContainer">
<form th:action="@{/workouts/copyWorkout}" method="post">
    <label for="workoutDate"></label>
    <input type="date" id="workoutDate" name="workoutDate" required />
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Copy Workout</button>
    <p th:if="${error}" style="color: red;" th:text="${error}"></p>
</form>
</div>
<div class="center-container">
    <div class="workoutTable">
<p th:text="${#temporals.dayOfWeekName(existingWorkout.date) + ' ' + #temporals.monthName(existingWorkout.date) + ' ' + #temporals.day(existingWorkout.date)}" class="date"></p>

<table>
    <thead>
    <tr>
        <th>Exercise Name</th>
        <th>Weight</th>
        <th>Repetitions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exercise, index : ${exercises}">
        <td th:text="${exercise.name}"></td>
        <td th:text="${exerciseSets[index.index].weight}"></td>
        <td th:text="${exerciseSets[index.index].repetitions}"></td>
        <td><form th:action="@{/workouts/editExercise}" method="get">
            <button type="submit" th:name="exerciseId" th:value="${exercise.getExerciseId()}">Edit</button>
        </form>
        </td>
        <td><form th:action="@{/workouts/removeExercise}" method="post">
            <button type="submit" th:name="exerciseId" th:value="${exercise.getExerciseId()}">Remove</button>
        </form>
        </td>
        <td><form th:action="@{/workouts/exerciseHistory}" method="get">
            <button type="submit" th:name="exerciseId" th:value="${exercise.getExerciseId()}">History</button>
        </form>

    </tr>
    </tbody>
</table>
        <div class="existingWorkoutButtons">
<a th:href="@{/workouts/selectMuscleGroup}" class="addExercise">Add Exercise</a>
<form th:action="@{/workouts/removeAllExercises}" method="post">
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Clear All</button>
</form>
<form th:action="@{/workouts/deleteWorkout}" method="post">
    <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Delete Workout</button>
</form>
</div>
</div>
</div>
    <div class="rightContainer">
        <form th:action="@{/workouts/addNotes}" method="post">
            <label for="notes">Notes</label><br>
            <textarea id="notes" name="notes" rows="4" cols="50" th:text="${existingWorkout.notes}"></textarea><br>
            <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Save notes</button>
        </form><br>
        <form th:if="${existingWorkout.notes != null}" th:action="@{/workouts/deleteNotes}" method="post">
            <button type="submit" th:name="workoutId" th:value="${existingWorkout.getWorkoutId()}">Clear notes</button>
        </form>
    </div>
</div>





</body>
</html>
