<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Upcoming Workouts</title>
</head>
<body>
<ul class="navbar">
    <li><a th:href="@{/workouts/pastWorkouts}">Show past workouts</a></li>
    <li><a th:href="@{/dashboard}" >Dashboard</a></li>
    <li><a th:href="@{/workouts/upcomingWorkouts}">Show upcoming workouts</a></li>
</ul>
<div class="center-container">
<table class="workoutTable">
    <thead>
    <tr>
        <th>Upcoming Workouts</th>
    </tr>
    </thead>
    <tbody>
    <form th:each="workout : ${upcomingWorkouts}" th:action="@{/workouts/upcomingWorkouts}" method="post">
        <tr>
            <td>
                <button type="submit" th:name="workoutId" th:value="${workout.workoutId}">
                    <span th:text="${#temporals.dayOfWeekName(workout.date) + ' ' + #temporals.monthName(workout.date) + ' ' + #temporals.day(workout.date)}"></span><br>
                </button>
            </td>
        </tr>
    </form>
    </tbody>
</table>
</div>
</body>
</html>